.linkDiv{
  padding:10px;
  text-align: center;
  margin:0px auto;
  font-size: 1.2rem;
  font-weight: 400;

  &:hover{
    cursor: pointer;
    background-color: #00000002;
  }
}
.imgLink{
  width:3rem;
  height:3rem;
  &:hover{
    cursor:pointer;
    opacity: 0.5;
  }
}
