.linkDiv{
  padding:10px;
  text-align: center;
  margin:0px auto;
  font-size: 1.2rem;
  font-weight: 400;

  &:hover{
    cursor: pointer;
    background-color: #00000002;
  }
}
.thumb1{
  background: url(/assets/myself.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.imgLink{
  width:3rem;
  height:3rem;
  &:hover{
    cursor:pointer;
    opacity: 0.5;
  }
}
