<!-- <div
  style="
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index: -1;">
</div> -->
<div style="scroll-behavior: smooth;">
  <div style="background-color: #9198e5;">
    <div style="text-align:center">
      <p style="font-size:36px; margin:0px; padding:36px;">Spencer L. Birch</p>
    </div>
  </div>
  <div style="position:sticky; top:0px; background-color: #9198e5; box-shadow: black 0px 3px 6px 0px;">
    <div style="width:70%; margin:0px auto; display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; padding:12px 0px;">
      <div class="linkDiv">
        <a>Home</a>
      </div>
      <div class="linkDiv">
        <a>About Me</a>
      </div>
      <div class="linkDiv">
        <a>Resume</a>
      </div>
      <div class="linkDiv">
        <a>Portfolio</a>
      </div>
      <div class="linkDiv">
        <a>Contact</a>
      </div>
    </div>

    <!-- <p>homepage works!</p> -->
  </div>
  <div>
    <div style="display:grid; grid-template-columns: 2fr 1fr; width:80%; margin:36px auto;">
      <div>
        <p style="font-size:24px; margin:0px; padding:24px 0px 10px;">Hello!</p>
        <p>I'm a software developer with an excitement to increase my expertise. I have 2 years of experience as a full stack web developer in a team of 7 developers and have been critiqued by their experience and since taught interns and young developers about documentation practices and coding standards. I have a Bachelor's of Science degree in Computer Science, a Certificate of Machine Learning, and a Minor in Electrical Engineering. I would like to join your software teams and share experience as we advance the fields of Web Development, AI, Data Science, and other important software fields.</p>
      </div>
      <div>
        <img src="/assets/myself.jpg" alt="Professional Image of Myself" style="width:100%;">
      </div>
    </div>
  </div>
  <div style="padding:36px 10%; background-color:#9198e5;" id="resume-section">
    <img src="/assets/resume.png" alt="resume image" style="width:100%;">
    <!-- <iframe src="/assets/resume.pdf" frameborder="0" width="100%" height="600px"></iframe> -->
    <!-- <pdf-viewer></pdf-viewer> -->
    <!-- <embed src="/assets/resume.pdf" width="100%" height="600px" /> -->
  </div>
</div>
