<!-- <p>portfolio works!</p> -->
<!-- <div style="background-color:#0f0f0f"> -->
  <div class="projectsGrid">

    <div>
      <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
      <p style="text-align: center; font-size:1.2rem;">Technologies: Angular, Firebase</p>
      <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
        <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;">
      </div>

      <div class="gap"></div>
      <div style="display:grid; grid-template-columns: 1fr 1fr; gap:1rem;">

        <div style="background-color: #9198e5; padding:1rem; border-radius: 6px;">
          <h3 style="text-align: center; margin:0; font-size:1.2rem;">View Source Code</h3>
        </div>

        <div style="background-color: #9198e5; padding:1rem; border-radius: 6px;">
          <h3 style="text-align: center; margin:0; font-size:1.2rem;">Project Summary</h3>
        </div>

      </div>
    </div>

    <div>
      <h3 style="text-align:center; font-size:2rem; margin:1rem;">MBirch Jewlery</h3>
      <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
        <!-- <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;"> -->
      </div>
    </div>

    <!-- <div>
      <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
      <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
        <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;">
      </div>
    </div> -->
  </div>
<!-- </div> -->
