<!-- <p>portfolio works!</p> -->
<!-- <div style="display:grid; grid-template-columns: 12rem 1fr; min-height: 100%;"> -->
<!--
  <div style="background-color: #9198e5;">
    <div class="selectSection">
      <p class="selectTitle">Languages/Frameworks</p>
      <p class="selectItems">Angular</p>
      <p class="selectItems">Python</p>
      <p class="selectItems">C++</p>
      <p class="selectItems">Java</p>
    </div>

    <div class="selectSection">
      <p class="selectTitle">Technologies/Tools</p>
      <p class="selectItems">Docker</p>
      <p class="selectItems">Firebase</p>
    </div>

    <div class="selectSection">
      <p class="selectTitle">Skill Development</p>
      <p class="selectItems">Object-Oriented Programming</p>
      <p class="selectItems">Recursion</p>
      <p class="selectItems">Concurrency</p>
    </div>

  </div> -->
  <div>
    <h1 class="title" style="text-align: center; margin: 50px;">Portfolio Projects</h1>
    <!-- <p style="text-align: center; font-size: 1.5rem; color: #313638; margin: 50px;">Feel free to reach out to me between 10:00am-5:00pm. I prefer texting or emails. I get to all my emails within 1-2 business days.</p> -->

    <div class="projectsGrid">

      <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
        <p style="text-align: center; font-size:1.2rem;">A website supporting the StiQR product, connecting finders of lost items to their owners via QR codes.</p>
        <!-- <li>Contains functional contact page, landing page, login system, and page to display sticker owner's contact information.</li> -->
        <li style="font-size:1.2rem;">Programming languages: <b>HTML</b>, <b>CSS</b>, <b>JavaScript/TypeScript</b></li>
        <li style="font-size:1.2rem;">Technologies:  <b>Angular</b>, <b>Firebase</b></li>
        <!-- <p style="text-align: center; font-size:1.2rem; height:5rem;">Technologies: <b>Angular</b> (<b>HTML</b>, <b>CSS</b>, <b>JavaScript/TypeScript</b>), <b>Firebase</b></p>
        <p style="text-align: center; font-size:1.2rem; height:5rem;">Technologies: <b>Angular</b> (<b>HTML</b>, <b>CSS</b>, <b>JavaScript/TypeScript</b>), <b>Firebase</b></p> -->
        <div class="websiteImageContainer" (click)="goToWebsite('https://stiqr-dev.web.app')">
          <img class="websiteImage" src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height: auto;">
        </div>

        <div class="gap"></div>
        <div style="display:grid; grid-template-columns: 1fr 1fr; gap:1rem;">

          <div class="buttonContainer" (click)="goToWebsite('https://github.com/stiqr-us/stiqr-us')">
            <h3 class="buttonText">View Source Code</h3>
          </div>

          <div class="buttonContainer" routerLink="/unfinished" routerLinkActive="active">
            <h3 style="text-align: center; margin:0; font-size:1.2rem;">Project Summary</h3>
          </div>

        </div>
      </div>


      <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">MBirch Jewlery</h3>
        <p style="text-align: center; font-size:1.2rem; height:5rem;">Technologies: <b>Angular</b>
            (<b>HTML</b>,
            <b>CSS</b>,
            <b>JavaScript/TypeScript</b>),
            Mobile Friendly App Template</p>
        <div class="websiteImageContainer">
          <!-- <img class="websiteImage" src="./assets/phone_outside_2.png" alt="Website Image" style="position:relative; width:70%; height:same-as-width; margin:0 auto; z-index: 1;"> -->
          <!-- <img class="websiteImage" src="./assets/mbirchjewlery_screenshot.png" alt="Website Image" style="position: relative; top:-30rem; width:60%; height:same-as-width; z-index: 2;"> -->
          <img class="websiteImage" src="./assets/mbirchjewlery_screenshot.png" alt="Website Image" style="width:60%; margin-left:20%; height:same-as-width; z-index: 2; border-radius: 0.5rem;">
        </div>
        <div class="gap"></div>
        <div style="display:grid; grid-template-columns: 1fr 1fr; gap:1rem;">

          <div class="buttonContainer" (click)="goToWebsite('https://github.com/spence3033/mbirchjewlery_website')">
            <h3 class="buttonText">View Source Code</h3>
          </div>

          <div class="buttonContainer" routerLink="/unfinished" routerLinkActive="active">
            <h3 style="text-align: center; margin:0; font-size:1.2rem;">Project Summary</h3>
          </div>

        </div>
      </div>


      <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">MBirch Jewlery</h3>
        <p style="text-align: center; font-size:1.2rem;">Technologies: Angular (HTML, CSS, JavaScript/TypeScript)</p>
        <div class="websiteImage">
        </div>
      </div>

      <!-- <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
        <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
          <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;">
        </div>
      </div> -->
    </div>
  </div>
<!-- </div> -->
