<!-- <p>portfolio works!</p> -->
<!-- <div style="display:grid; grid-template-columns: 12rem 1fr; min-height: 100%;"> -->
<!--
  <div style="background-color: #9198e5;">
    <div class="selectSection">
      <p class="selectTitle">Languages/Frameworks</p>
      <p class="selectItems">Angular</p>
      <p class="selectItems">Python</p>
      <p class="selectItems">C++</p>
      <p class="selectItems">Java</p>
    </div>

    <div class="selectSection">
      <p class="selectTitle">Technologies/Tools</p>
      <p class="selectItems">Docker</p>
      <p class="selectItems">Firebase</p>
    </div>

    <div class="selectSection">
      <p class="selectTitle">Skill Development</p>
      <p class="selectItems">Object-Oriented Programming</p>
      <p class="selectItems">Recursion</p>
      <p class="selectItems">Concurrency</p>
    </div>

  </div> -->
  <div>
    <h1 class="title" style="text-align: center; margin: 50px;">Portfolio Projects</h1>
    <!-- <p style="text-align: center; font-size: 1.5rem; color: #313638; margin: 50px;">Feel free to reach out to me between 10:00am-5:00pm. I prefer texting or emails. I get to all my emails within 1-2 business days.</p> -->

    <div class="projectsGrid">

      <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
        <p style="text-align: center; font-size:1.2rem;">Technologies: Angular, Firebase</p>
        <div class="websiteImageContainer" (click)="goToWebsite('https://stiqr-dev.web.app')">
          <img class="websiteImage" src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;">
        </div>

        <div class="gap"></div>
        <div style="display:grid; grid-template-columns: 1fr 1fr; gap:1rem;">

          <div class="buttonContainer" (click)="goToWebsite('https://github.com/stiqr-us/stiqr-us')">
            <h3 class="buttonText">View Source Code</h3>
          </div>

          <div class="buttonContainer" routerLink="/unfinished" routerLinkActive="active">
            <h3 style="text-align: center; margin:0; font-size:1.2rem;">Project Summary</h3>
          </div>

        </div>
      </div>

      <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">MBirch Jewlery</h3>
        <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
          <!-- <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;"> -->
        </div>
      </div>

      <!-- <div>
        <h3 style="text-align:center; font-size:2rem; margin:1rem;">StiQR</h3>
        <div class="websiteImage" (click)="goToWebsite('https://stiqr-dev.web.app')">
          <img src="./assets/senior_project_contact.png" alt="Website Image" style="width:100%; height:same-as-width;">
        </div>
      </div> -->
    </div>
  </div>
<!-- </div> -->
