<div style="background-color: #9198e5;">
  <div style="text-align:center">
    <p style="font-size:36px; margin:0px; padding:36px;">Spencer L. Birch</p>
  </div>
</div>
<div style="position:sticky; top:0px; background-color: #9198e5; box-shadow: black 0px 3px 6px 0px;">
  <div style="width:70%; margin:0px auto; display:grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; padding:12px 0px;">
    <div class="linkDiv" routerLink="/home" routerLinkActive="active">
      <a>Home</a>
    </div>
    <div class="linkDiv">
      <a>About Me</a>
    </div>
    <div class="linkDiv" routerLink="/resume" routerLinkActive="active">
      <a>Resume</a>
    </div>
    <div class="linkDiv">
      <a>Portfolio</a>
    </div>
    <div class="linkDiv">
      <a>Contact</a>
    </div>
  </div>

  <!-- <p>homepage works!</p> -->
</div>
