.linkDiv:hover{
  cursor: pointer;
  background-color: #00000002;
}
.linkDiv{
  padding:10px;
  /* max-width: 6rem;
  max-height: 3rem; */
  text-align: center;
  margin:0px auto;
}
.thumb1{
  background: url(/assets/myself.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
