.homeGrid{
  display:grid;
  grid-template-columns: 2fr 1fr;
  width:80%;
  margin:0 auto 5rem;
  padding-top:2rem;
}

.title{
  font-size: 3rem;
  font-weight: 600;
  margin: 0px;
}
.subTitle{
  color:#000080;
  font-size:1.5rem;
  font-weight: bold;
}
.subText{
  color:#000080;
  font-size:1.2rem;
  margin-top:1em;
}

@media screen and (max-width: 1000px) {
  .homeGrid {
    grid-template-columns: 1fr;
  }
}
.textBold{
  color:#000080;
}

.buttonContainer{
  width:15rem;
  background-color: #9198e5;
  padding:1rem;
  border-radius: 6px;
  margin:1rem 0rem;
  // Angular Material Buttons has this shadow
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
              0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  &:hover{
    background-color: #6168f5;
    cursor:pointer;
  }
}

.buttonText{
  text-align: center;
  margin:0;
  font-size:1.2rem;
}

