<div>
  <p style="font-size: 2.5rem; font-weight: 600; text-align: center; margin: 50px;">Contact Me</p>
  <p style="text-align: center; font-size: 1.5rem; color: #313638; margin: 50px;">Feel free to reach out to me between 10:00am-5:00pm. I prefer texting or emails. I get to all my emails within 1-2 business days.</p>
</div>

<div class="contactGrid">
  <div style="text-align: center; color: #313638;">
    <img src="./assets/phone_icon.png" alt="Phone Icon">
    <p>Call me at</p>
    <p>208-351-9930</p>
  </div>
  <div style="text-align: center; color: #313638;">
    <img src="./assets/email_icon.png" alt="Email Icon">
    <p>Email me at</p>
    <p style="text-decoration: underline; color:blue">sbirch3303@gmail.com</p>
  </div>
</div>

