<div>
  <p style="font-size: 2.5rem; font-weight: 600; text-align: center; margin: 50px;">Page Still In Progress</p>
  <p style="text-align: center; font-size: 1.5rem; color: #313638; margin: 50px;">
    I'm sorry, I haven't created this page yet. My portfolio is always a work in progress and I'm doing my best to continually update it.
  </p>
  <p style="text-align: center; font-size: 1.5rem; color: #313638; margin: 50px;">
    Feel free to email me at
      <a style="text-decoration: underline; color:blue">sbirch3303@gmail.com</a>
    or text me at (208) 351-9930
  </p>
</div>
