<div>
  <div style="display:grid; grid-template-columns: 2fr 1fr; width:80%; margin:36px auto;">
    <div>
      <p style="font-size:24px; margin:0px; padding:24px 0px 10px;">Hello!</p>
      <p>I'm a software developer with an excitement to increase my expertise. I have 2 years of experience as a full stack web developer in a team of 7 developers and have been critiqued by their experience and since taught interns and young developers about documentation practices and coding standards. I have a Bachelor's of Science degree in Computer Science, a Certificate of Machine Learning, and a Minor in Electrical Engineering. I would like to join your software teams and share experience as we advance the fields of Web Development, AI, Data Science, and other important software fields.</p>
    </div>
    <div>
      <img src="/assets/myself.jpg" alt="Professional Image of Myself" style="width:100%;">
    </div>
  </div>
</div>
<app-resume></app-resume>
