<div>
  <div style="display:grid; grid-template-columns: 2fr 1fr; width:80%; margin:36px auto;">
    <div>
      <p style="font-size:2rem; font-weight:500; margin:0px; padding:1rem 0px 0.5rem;">Hello! I'm Spencer,</p>
      <p style="color:#000080; font-size:1.5rem; margin:0px; padding:1rem 0px 0.5rem;">Bachelor's degree in Computer Science</p>
      <p style="color:#000080; font-size:1.5rem; margin:0px; padding:0.5rem 0px 0.5rem;">Full Stack Web Developer</p>
      <p style="color:#000080; font-size:1.5rem; margin:0px; padding:0.5rem 0px 0.5rem;">Data Scientist</p>
      <p style="color:#000080; font-size:1.5rem; margin:0px; padding:0.5rem 0px 0.5rem;">AI Developer</p>
      <p style="color:#000080; font-size:1.5rem; margin:0px; padding:0.5rem 0px 1rem;">Team Collaborator</p>
      <p style="padding-right:1rem; line-height: 2rem;">I am determined to increase my expertise in many different software fields. I have 2 years of experience as a full stack web developer. I've been critiqued by experienced developers, taught new interns, worked solo and in duo with developers on tasks, and written lots of documentation. I have a Bachelor's of Science degree in Computer Science, a Certificate of Machine Learning, and a Minor in Electrical Engineering. I would like to join your software teams and share experience as we advance the fields of Web Development, AI, Data Science, and other software fields.</p>
    </div>
    <div>
      <img src="./assets/myself.jpg" alt="Professional Image of Myself" style="width:100%;">
    </div>
  </div>
</div>
<app-resume></app-resume>
